head {
  margin: 0;
  padding: 0;
}
body {
  background-color: #00ffff;
  margin: 0;
  padding: 0;
}
div.banner {
  background-color: #004d4d;
  color: #ffff00;
  margin: 0;
  padding: 1em;
  position: relative;
}
h1{
  display: inline;
  margin: 0;
}
ul#menu {
  display: inline;
  float: right;
  list-style: none;
  text-align: right;
}
ul#menu li {
  display: inline-block;
  padding-right: 1em;
}
a {
  color: #ffffff;
}
